<form method="POST" action="/signup">
  <label>Username</label>
  <input type="text" name="username" placeholder="Enter your username"  >

  <label>Password</label>
  <input type="password" name="password" placeholder="Enter your Password"  >
  <button type="submit" >Signup</button>
</form>

{{#if msg}}
 <div class="error">{{msg}}</div>
{{/if}}
